@import '../../../../styles/abstracts/index';

.journey-details {
  padding: $spacing * 30 0;

  &__container {
    margin: 0 auto;
    padding: $spacing * 30 $spacing * 8;
    max-width: $max-width;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-areas:
      'details'
      'creator-details';
    gap: $spacing * 16;

    @include breakpoint(xl) {
      grid-template-columns: 1fr 35rem;
      grid-template-areas: 'details creator-details';
    }
    .cards {
      padding: $spacing * 8;

      @include breakpoint(lg) {
        padding: $spacing * 16;
      }
      box-shadow: $shadow-card;
      border-radius: 4px;
      background-color: $white;
    }
    .creator {
      &__be-in-touch {
        color: $red;
        font-weight: 500;
      }
      &__header {
        text-transform: uppercase;
        margin-bottom: $spacing * 8;
      }
      grid-area: creator-details;
      article {
        margin-bottom: $spacing * 4;
        color: $green;
        font-weight: 500;
      }
      span {
        color: $text-secondary;
        font-weight: 500;
      }
    }

    .details {
      grid-area: details;
      &__title {
        text-transform: uppercase;
        margin-bottom: $spacing * 8;
        @include flex(space-between, flex-start);
        .details__mark {
          color: $green;
          font-weight: bolder;
          text-decoration: underline;
          margin-left: $spacing * 8;
        }
        .btn {
          margin-left: $spacing * 8;
        }
      }

      &__boxes {
        display: grid;
        grid-template-columns: 20rem 1fr;
        margin-bottom: $spacing * 4;
        color: $green;
        font-weight: 500;

        span {
          color: $text-secondary;
          margin: 0 $spacing * 4;
          font-weight: 500;
        }

        p {
          color: $text-secondary;
          font-weight: 500;
        }
        &.details__boxes--message {
          > div {
            grid-column-start: 1;
            grid-column-end: 3;
          }
        }
      }
    }
  }
}
