/*
 * 1. Set 1rem to be equal to 10px while preserving accessibility
 * for users who change their browser's default font-size.
 * 2. Set default font-family, color and line-height
 */
html {
  font-size: 10px;
  /* 1 */
  color: $text-primary;
  /* 2 */
  line-height: 1.6;
  /* 2 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: $font-secondary;
}

h1 {
  font-size: 3.2rem;
  @include breakpoint(xl) {
    font-size: 8rem;
  }
}

h2 {
  font-size: 2.8rem;
  color: $text-primary;
  @include breakpoint(xl) {
    font-size: 4.5rem;
  }
}

h3 {
  font-size: 2.4rem;
  color: $text-primary;
  @include breakpoint(xl) {
    font-size: 3.6rem;
  }
}

h4 {
  font-size: 2.2rem;
  color: $text-primary;
  @include breakpoint(xl) {
    font-size: 2.6rem;
  }
}

h5 {
  font-size: 1.8rem;
  color: $text-primary;
}
h6 {
  font-size: 1.6rem;
  color: $text-primary;
}

p {
  font-style: normal;
  font-size: 1.6rem;
  letter-spacing: 0.3px;
  font-weight: 300;
}

strong {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.3px;
}

a {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  color: $text-primary;
  text-decoration: none;
}

small {
  font-size: 1.4rem;
}

div,
span,
ul,
li {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
}

.thin-title {
  font-weight: 300;
  font-size: 1.8rem;
  color: $text-primary;
  text-transform: uppercase;
}

.material-icons {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
