%underlined-heading {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    // background-color: $plejd-blue;
    bottom: -0.5rem;
    width: 8rem;
    height: 0.6rem;
    left: 0;
    right: 0;
  }
}