@import '../../../../styles/abstracts/index';

form {
  width: 100%;
  margin: 0 auto;
  display: grid;
  padding: 0 $spacing * 4;
  grid-template-columns: auto;
  @include breakpoint(md) {
    width: 75rem;
    grid-template-columns: repeat(2, 1fr);
  }
  grid-gap: $spacing * 4;

  .boxes {
    width: 100%;
  }
  .button-container {
    margin-top: $spacing * 4;
    width: 100%;
    @include flex(center, center);
    @include breakpoint(md) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 3;
    }
  }
}
