@import '../../../styles/abstracts/index';

.new-journey {
  padding: $spacing * 60 0;
  &__container {
    padding: 0 $spacing * 8;
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
  }
  &__form {
    margin: $spacing * 8 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $spacing * 8;

    @include breakpoint(md) {
      grid-template-columns: 1fr 1fr;
    }
    &__boxes {
      &:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        @include breakpoint(md) {
          grid-column-start: 1;
          grid-column-end: 3;
        }
      }
      &.price-box {
        position: relative;
        .text-input {
          input {
            padding-right: $spacing * 10;
          }
        }
        span {
          position: absolute;
          bottom: $spacing * 8;
          right: $spacing * 10;
          font-size: 1.4rem;
          font-weight: 500;
        }
      }
      &.box-message {
        label {
          p {
            font-weight: 500;
            margin-bottom: $spacing * 2;
          }
        }
        grid-column-start: 1;
        grid-column-end: 2;
        @include breakpoint(md) {
          grid-column-start: 0;
          grid-column-end: 3;
        }
      }
    }
    &__btn-box {
      grid-column-start: 0;
      grid-column-end: 2;
      @include breakpoint(md) {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      display: flex;
      justify-content: flex-end;
      width: 100%;
      .btn {
        width: 100%;
        @include breakpoint(md) {
          width: 18rem;
        }
      }
    }
  }
}

.identify-bank-id__container {
  width: 100%;
  max-width: 50rem;
  article {
    background-color: $green;
    padding: $spacing * 8;
    border-radius: 4px;
    margin-top: $spacing * 16;
    margin-bottom: $spacing * 16;
    color: $white;

    p {
      margin-top: $spacing * 4;
    }
  }

  form {
    .textfield {
      margin-bottom: $spacing * 8;
    }

    .btn {
      width: 100%;
    }
  }
}
